@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Mona Sans', sans-serif;
  box-sizing: border-box;
}

input {
  font-size: 1rem;
  border: hidden;
  border-radius: 1rem;
  text-align: center;
  margin: .5rem;
}

input:focus {
  outline: none;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.viewport{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.user-input {
  background-color: bisque;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-input::placeholder {
  color: #000000;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.expense-container {
  background-color: bisque;
  border-radius: .25rem;
  padding: .25rem .5rem;
  margin: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.expense {
  display: grid;
  grid-template: 1fr / 8fr 1fr 2ch;
  column-gap: .25rem;
  width: 100%;
  align-items: center;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.25rem 1rem;
  background-color: bisque;
}

.details-arrow-continer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  position: fixed;
  bottom: 0;
  background-color: bisque;
  display: flex;
  justify-content: end;
  width: 50dvw;
  padding: .75rem;
}

.total-value {
  margin-left: 1ch;
}

.enter-button {
  padding: .25rem .5rem;
  margin: .5rem;
  font-size: 1rem;
  border: hidden;
  border-radius: 5rem;
  background-color: rgb(255, 255, 255);
}

.enter-button:hover {
  background-color: hsl(0, 0%, 95%);
}

.enter-button:active {
  background-color: hsl(0, 0%, 90%);
}
